body{
    background: #edf1f5;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}


.text-muted {
    color: #8898aa!important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}

.user-table {
    border-radius: 10px; /* Adjust the border radius as needed */
  }

.pagination-btn {
    margin: 0 2px; /* Adjust margin as needed */
    border-radius: 5px; /* Rounded corners */
    color: #333; /* Text color */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
.pagination-btn:hover {
    background-color: #f0f0f0; /* Hover background color */
  }

